@import "tailwindcss";
@theme{
  --font-fredoka: 'Fredoka', sans-serif;
  --font-nunito: "Nunito", sans-serif;

  --color-creme:#FFFBF4 ;
  --color-cartoesbg: #FFFFFF;
  --color-roxo-escuro: #3B2F52;
  --color-roxo: #7B5AD9;
  --color-lilas-pastel: #EDE6FF;
  --color-amarelo-pastel: #FFF2C8;
  --color-rosa-pastel: #FFE3EE;
  --color-menta-pastel: #DFF3E9;
  --color-rosabg: #FBEAF6;
  --color-dv: #3B2F52;

      --animate-float: float 4s ease-in-out infinite;


  @keyframes float {
    0%, 100% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-15px);
    }
  }
  
}




@layer components{

  html {
    scroll-behavior: smooth;
}
  .container {
    width: 100%;
    max-width: 1280px;
    margin-inline: auto;
    padding-inline: 1.5rem;
  }

  .detail1{
    content: '';
    position: absolute;
    top: -25px;
    left: -30px;
    background: url(../public/dogcapa3.jpg);
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

    .detail2{
    content: '';
    position: absolute;
    bottom:-25px;
    right: -50px;
    background: url(../public/catcapa.jpg);
    width: 150px;
    height: 150px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
  }

  .background{
    background: #EDE6FF;
    background: linear-gradient(50deg, rgba(237, 230, 255, 1) 0%, rgba(255, 242, 200, 1) 100%)
  }

  .teste{
    transition: transform 0.5s;
  }
  .teste:hover{
    transform: scale(1.08);
  }


.fadeUp {
  opacity: 0;
  transform: translateY(30px) scale(.98);
  animation: fadeUp .7s cubic-bezier(.16,1,.3,1) forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}

}